* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container h1 {
  text-align: center;
  color: #ccc;
}
i {
  color: #cf1a1a;
  font-size: 14px;
}

.date:hover {
  cursor: pointer;
  color: #00000070;
}
.surname:hover {
  cursor: pointer;
  color: #00000070;
}

.container table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #ccc;

  margin: 10px auto;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container table th,
.container table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.buttons {
  display: flex;
  gap: 10px;
}

.container table th {
  background-color: #f2f2f2;
}

.container table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.container table tr:hover {
  background-color: #eaeaea;
}

.buttons button {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #eaeaea;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
